:root {
  --cellsize: 15px;
}

.game {
  display: grid;
  place-content: center;
}

.cell {
  width: var(--cellsize);
  height: var(--cellsize);
  margin-top: -1px;
  margin-left: -1px;
  background-color: white;
  border: 0.5px solid lightgrey;
}

.cell[data-alive='true'] {
  background-color: blue;
}

div.row {
  display: flex;
  flex-direction: row;
}

div.column {
  display: flex;
  flex-direction: column;
}

.controls {
  position: fixed;
  bottom: 1rem;
  right: 10%;
  padding: var(--padding);
  background-color: #eee;

  .controls-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  .controls-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
