* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  flex-shrink: 1;
  padding: 0.6rem;
  background-color: #eee;
  height: 100vh;
  overflow-y: scroll;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.game {
  padding: 1rem;
  overflow: auto;
}
